body {
    background-color: rgb(152,251,152);
    margin-left: 200px;
    margin-right: 200px;

}

header {

    margin-top: 70px;
}

h1 {

    color: red;
    font-family: fantasy;

}

h2 {

    font-family: fantasy;
}

p {

    font-size: 18px;
}

footer {

    margin-left: 30px;
}

.img_padrão {
    margin-bottom: 20px;
    width: 300px;
}

.logo {

    width: 80px;
}